extend index_layout

block title
  | Henry and Daisy's Wedding

block intro
  header(class="header")
    h2
      span
        span(class="fancy") Heng Xiao&nbsp;
        br(class="mobile_only")
        span(class="fancy") & &nbsp;
        br(class="mobile_only")
        span(class="fancy") Xingguo Chen
    br
  h3(class="typewriter") September 
    sup 29th
    | , 2018
  footer
    a(href="#summary" class="button style2 down") More

block summary
  header
    h2(class="fancy") Our Story
  p TODO: our story

block weddingparty_title
  h2(class="fancy") Wedding Party

block weddingparty_bridesmaids
  h2(class="fancy") Bridesmaids
  img(class="portrait" src="/images/small/bridesmaids1.jpg" width="100%")
  h3(class="fancy") Xiaoni Hu
  p(class="note") &nbsp;
    br
    | &nbsp;
  hr
  img(class="portrait" src="/images/small/portrait_placeholder_female.png" width="100%")
  h3(class="fancy") Yueying Ouyang
  p(class="note") &nbsp;
    br
    | &nbsp;
  hr
  img(class="portrait" src="/images/small/bridesmaids3.png" width="100%")
  h3(class="fancy") Dan Wei
  p(class="note") &nbsp;
    br
    | &nbsp;
  hr

block weddingparty_groomsmen
  h2(class="fancy") Groomsmen
  img(class="portrait" src="/images/small/groomsmen1.jpg" width="100%")
  h3(class="fancy") Kun Xiao
  p(class="note") Wonderful brother of the groom,
    br
    | future computer scientist
  hr
  img(class="portrait" src="/images/small/groomsmen2.jpg" width="100%")
  h3(class="fancy") Yuanjia Xi
  p(class="note") Perfect comrade in Highschool,
    br
    | both in school and WOW
  hr
  img(class="portrait" src="/images/small/portrait_placeholder_male.png" width="100%")
  h3(class="fancy") Quinn Cheng
  p(class="note") Best friend in Rutgers,
    br
    | the groom's first "driving instructor"
  hr

block events_header
  h2(class="fancy") Events

block ceremony
  header
    h2(class="fancy") Ceremony
  img(src="/images/small/church.png" width="90%")
  p
    | Stanford Memorial Church
    br
    | [
    a(href="https://religiouslife.stanford.edu/memorial-church/stanford-memorial-church-information") Website
    | |
    a(href="https://maps.google.com/?q=Stanford+Memorial+Church") Map
    | ]
  p September 29th, 2018
    br
    | 3:00 PM

block reception
  header
    h2(class="fancy") Reception
  img(src="/images/small/ritz_carlton.jpeg" width="90%")
  p
    | The Ritz-Carlton,
    br(class="mobile_only")
    | Half Moon Bay
    br
    | [
    a(href="http://www.ritzcarlton.com/en/hotels/california/half-moon-bay") Website
    | |
    a(href="https://maps.google.com/?q=The+Ritz-Carlton,+Half+Moon+Bay") Map
    | ]
  p Sat Sept 29th 2018, 5:00 PM

block accommodation
  header
    h2(class="fancy") Accommodation
  p
    | For your convenience, we have recerved limited number of rooms at
    br
    | Aloft San Francisco Airport.
  img(src="/images/small/aloft.jpg" width="300px")
  p
    | 401 East Millbrae Ave
    br
    | Millbrae, CA 94030
    br
    | (650) 443-5500
    br
    | [
    a(href="http://www.aloftsanfranciscoairport.com/") Website
    | |
    a(href="https://www.google.com/maps/place/Aloft+San+Francisco+Airport") Map
    | ]
  p
    | Please book your room before September 15th and mention the
    | Xiao/Chen Wedding Party to receive the special rate.

block adventure_header
  h2(class="fancy") Memory

block rsvp
  h2(class="fancy") RSVP
  p By September 15th, 2018
  p NOT ENABLED YET. SUBMITTED RSVP MAY NOT BE SAVED
  hr
  br
  form(id="rsvpForm" action="/rsvp" method="post" style="transition: visibility 0s, opacity 0.5s linear;")
    p
      h2(class="fancy" style="display: inline") Name:&nbsp;
      input(type="text" name="name" placeholder="Your Name" style="width: 20em; display: inline" required)
      br
      input(type="text" name="attending" placeholder="#" pattern="[0-9]" style="width: 4em; display: inline" required)
      | &nbsp;Number Attending
      br
      br
      | Please initial meal preference for each guest
      br
      input(type="text" name="turf" value="" style="width: 6em; display: inline;")
      img(src="/images/small/turf.png" style="height: 2em")
      | &nbsp;
      input(type="text" name="surf" value="" style="width: 6em; display: inline;")
      img(src="/images/small/surf.png" style="height: 2em")
      | &nbsp;
      input(type="text" name="vege" value="" style="width: 6em; display: inline;")
      img(src="/images/small/vege.png" style="height: 2em")
      br
      
    input(type="submit" name="submit" value="Submit")
    img(class="loader" src="/stylesheets/images/loader.gif")
  div(id="rsvpMessage" style="transition: visibility 0s, opacity 0.5s linear;")
    p
      span
    input(type="submit" value="Back")
  br
  hr

block faq
  h2(class="fancy") FAQ
  ol(class="default")
    li Q. Which airport do you recommend to choose?
    p A.&nbsp;
      | We recommend flying into San Francisco International Airport (SFO).
      | Aloft San Francisco Airport provides 24/7 free shuttle service between the hotel and SFO.
      | Phone Number: (650) 443-5500
    li Q. How do I get to the ceremony? Where do I park?
    p A.&nbsp;
      | For guests from local, we recommend you coming to Stanford by car.
      |  You can park your car at Roth Way Garage on Stanford Campus [
      a(href="https://www.google.com/maps/dir//Roth+Way+Garage,+Palo+Alto,+CA+94304/") direction
      | ].
    p
      | For guests from out of town, we will provide shuttle service between Aloft, ceremony,
      |  and reception venue. If you choose accommodation other than Aloft San Francisco Airport, 
      |  please notify us, and we will make arrangement for you.
    li Q. What is the dress code.
    p A.&nbsp;
      | The dress code for ceremony and reception is black tie optional.
      | For ladies, we expect an evening gown or a cocktail dress.
      | For gentlemen, we expect a tuxido or a dark lounge suit and tie.