extend index_layout

block nav
  ul
    li
      a(href="#intro") Home
    li
      a(href="#events") Events
    li
      a(href="#rsvp") RSVP
    li
      a(href="/dinnermenu") Food
    li
      a(href="#faq") FAQ

block nav_mobile
  a(href="#intro") Home
  a(href="#events") Events
  a(href="#rsvp") RSVP
  a(href="/dinnermenu") Food
  a(href="#faq") FAQ

block title
  | Henry and Daisy's Wedding

block intro
  header(class="header")
    h2
      span
        span(class="fancy") Heng&nbsp;Xiao
        br(class="narrow_only")
        span(class="fancy")  & 
        br(class="narrow_only")
        span(class="fancy") Xingguo&nbsp;Chen
    br
  h3(class="typewriter") September 
    sup 29th
    | , 2018
  footer
    a(href="#summary" class="button style2 down") More

block summary
  header
    h2(class="fancy") Our Story
  br
  blockquote
    | "When we find someone whose weirdness is compatible with ours
    | , we join up with them and fall in mutual weirdness and call it love."
    br
    span(style="text-align: right") -- Dr.Seuss
  br
  b First Met
  p(class="more")
    | Before Xiao and Chen met each other, they would never know
    | how odds could come together and make a destiny. Chen first got
    | to know Xiao in the first month she arrived in the United States on
    | a welcome party. Xiao offered Chen and some other classmates a
    | tour to San Francisco, and Chen took the offer. After the trip,
    | these two strangers quickly become friends.
  b Friendship and Affection
  p(class="more")
    | Chen and Xiao shared much of social life. Sometimes, Chen
    | asked Xiao to join her home made dinner and play card games. Other
    | times, Xiao hosted a tour to Yosemite and invited Chen to come
    | along. From time to time, Chen found Xiao warm-hearted, smart
    | and had an unique sense of humor, while Xiao appreciated Chen's
    | spirit of endeavor, thirst for knowledge and balance of emotion
    | and ration. This was when they start to share affection.
  b The beginning of love
  p(class="more")
    | On a trip to Death Valley National Park, Xiao's car had mechanical
    | failure and they were stuck in Davis. They had to spend one more
    | day in Davis to wait for exchange of car. During this frustrating
    | moment, they visited the beautiful campus of UC Davis, and found
    | that there is love between them. On their way back, they stopped
    | by the shore of San Francisco Bay near Berkeley, and this was when
    | and where they decided to follow the impulse and established a
    | romantic relationship.
  b Sweet Life Together
  p(class="more")
    | More than four years has passed since then. After graduation from
    | Stanford, getting the first job, moving into the first house,
    | they've been through many life events and made many life decisions.
    | They shared love and happiness, and they felt they are already a
    | family. Their kindness and care to each other has set the foundation
    | to their relationship, and gave them a strong confidence to hold
    | hand together and face the unknown yet promising future.

block weddingparty_title
  h2(class="fancy") Wedding Party

block weddingparty_bridesmaids
  h2(class="fancy") Bridesmaids
  img(class="portrait" src="/images/small/bridesmaids1.jpg" width="100%")
  h3(class="fancy") Xiaoni Hu
  p(class="note") Best friend in high school
    br
    | Never lose her inspirational smiles
  hr
  img(class="portrait" src="/images/small/bridesmaids2.png" width="100%")
  h3(class="fancy") Yueying Ouyang
  p(class="note") College roommate in Tsinghua
    br
    | Called by the mountains all the time
  hr
  img(class="portrait" src="/images/small/bridesmaids3.png" width="100%")
  h3(class="fancy") Dan Wei
  p(class="note") Roommate in Tsinghua and Stanford
    br
    | Never get tired chasing the true love
  hr

block weddingparty_groomsmen
  h2(class="fancy") Groomsmen
  img(class="portrait" src="/images/small/groomsmen1.jpg" width="100%")
  h3(class="fancy") Kun Xiao
  p(class="note") Wonderful brother of the groom
    br
    | A future computer scientist
  hr
  img(class="portrait" src="/images/small/groomsmen2.jpg" width="100%")
  h3(class="fancy") Yuanjia Xi
  p(class="note") Perfect comrade in high school
    br
    | Both in school and in game
  hr
  img(class="portrait" src="/images/small/groomsmen3.jpg" width="100%")
  h3(class="fancy") Quinn Cheng
  p(class="note") Fantastic roommate in Rutgers
    br
    | Dare to let the Groom learn driving in his car
    hr

block events_header
  h2(class="fancy") Events

block ceremony
  header
    h2(class="fancy") Ceremony
  img(src="/images/small/church.png" width="90%")
  p
    | Stanford Memorial Church
    br
    | [
    a(href="https://religiouslife.stanford.edu/memorial-church/stanford-memorial-church-information") Website
    | |
    a(href="https://maps.google.com/?q=Stanford+Memorial+Church") Map
    | ]
  p September 29th, 2018
    br
    | 3:00 PM

block reception
  header
    h2(class="fancy") Reception
  img(src="/images/small/ritz_carlton.jpeg" width="90%")
  p
    | The Ritz-Carlton,
    br(class="narrow_only")
    | Half Moon Bay
    br
    | [
    a(href="http://www.ritzcarlton.com/en/hotels/california/half-moon-bay") Website
    | |
    a(href="https://maps.google.com/?q=The+Ritz-Carlton,+Half+Moon+Bay") Map
    | ]
  p September 29th, 2018
    br
    | 5:00 PM

block accommodation
  header
    h2(class="fancy") Accommodation
  p
    | For your convenience, we have reserved limited number of rooms at
    br
    | Aloft San Francisco Airport.
  img(src="/images/small/aloft.jpg" width="300px")
  p
    | 401 East Millbrae Ave
    br
    | Millbrae, CA 94030
    br
    | (650) 443-5500
    br
    | [
    a(href="http://www.aloftsanfranciscoairport.com/") Website
    | |
    a(href="https://www.google.com/maps/place/Aloft+San+Francisco+Airport") Map
    | ]
  p
    | Please book your room before September 15th and mention the
    | Xiao/Chen Wedding Party to receive the special rate.

block adventure_header
  h2(class="fancy") Memory

block rsvp
  h2(class="fancy") RSVP
  p By September 15th, 2018
  hr
  br
  form(id="rsvpForm" action="/rsvp" method="post" style="transition: visibility 0s, opacity 0.5s linear;")
    p
      h2(class="fancy" style="display: inline") Name:&nbsp;
      input(type="text" name="name" placeholder="Your Name" style="width: 20em; display: inline" required)
      br
      input(type="text" name="attending" placeholder="0-3" pattern="[0-3]" style="width: 4em; display: inline" required)
      | &nbsp;Number Attending
    p
      | Please initial meal preference for each guest
      br
      | Click&nbsp;
      a(href="/dinnermenu#dinner_menu" target="_blank") here
      | &nbsp;to see the dinner menu
    p
      input(type="text" name="turf" placeholder="Turf" value="" style="width: 6em; display: inline;")
      img(src="/images/small/turf.png" style="height: 2em")
      | &nbsp;
      input(type="text" name="surf" placeholder="Surf" value="" style="width: 6em; display: inline;")
      img(src="/images/small/surf.png" style="height: 2em")
      | &nbsp;
      input(type="text" name="vege" placeholder="Vege" value="" style="width: 6em; display: inline;")
      img(src="/images/small/vege.png" style="height: 2em")
      br
      
    input(type="submit" name="submit" value="Submit")
    img(class="loader" src="/stylesheets/images/loader.gif")
  div(id="rsvpMessage" style="transition: visibility 0s, opacity 0.5s linear;")
    p
      span
    input(type="submit" value="Back")
  br
  hr

block gift
  h2(class="fancy") Gift Registry
  br
  b Prefer to gift something tangible?
  p
    | We've created registries with 
    | Amazon, REI, Bloomingdales, Crate & Barrel and Wayfair.
    br
    | Myregistry.com has a all-in-one list 
    | where you can browse them together.
  b Want to support our unforgettable honeymoon?
  p
    | Contribute to our Japan Honeymoon fund
    | using the Myregistry link below.
    br
    | We'll be sure to send you postcards 
    | from places we get to enjoy and explore!
  b Please click the following link to visit our gift registry
  br
  a(href="https://www.myregistry.com/giftlist/henryanddaisy" target="_blank")
    img(src="/images/small/together.jpg")
    br
    | myregistry.com/giftlist/henryanddaisy
  


block faq
  h2(class="fancy") FAQ
  ol(class="default")
    li Q. Which airport do you recommend to choose?
    p A.&nbsp;
      | We recommend flying into San Francisco International Airport (SFO).
      | Aloft San Francisco Airport provides 24/7 free shuttle service between the hotel and SFO.
      | Phone Number: (650) 443-5500
    li Q. How do I get to the ceremony? Where do I park?
    p A.&nbsp;
      | For guests from local, we recommend you coming to Stanford by car.
      |  You can park your car at Roth Way Garage on Stanford Campus [
      a(href="https://www.google.com/maps/dir//Roth+Way+Garage,+Palo+Alto,+CA+94304/") direction
      | ].
    p
      | For guests from out of town, we will provide shuttle service between Aloft, ceremony,&nbsp;
      |  and reception venue. If you choose accommodation other than Aloft San Francisco Airport,&nbsp;
      |  please notify us, and we will make arrangement for you.
    li Q. What is the dress code?
    p A.&nbsp;
      | The dress code for ceremony and reception is black tie optional.
      | For ladies, we expect an evening gown or a cocktail dress.
      | For gentlemen, we expect a tuxido or a dark lounge suit and tie.