extend index_layout

block title
  | Henry and Daisy's Wedding

block intro
  header(class="header")
    h2
      div(class="fancy") Mr. Heng Xiao
      br
      div(class="typewriter") and
      br
      div(class="fancy") Miss Xingguo Chen
    br
  div(class="typewriter") at
  h3(class="fancy context") Stanford Memorial Church
  h3(class="typewriter") September 
    sup 29th
    | , 2018
  p Welcome to our wedding website! We are still working on it, but please hang around and take a look!
  img(src="/images/small/lily_motif.png" style="height: 5em")
  footer
    a(href="#ceremony" class="button style2 down") More

block ceremony
  header
    h2(class="fancy") The Ceremony
  p We are getting married on September 29th, 2018 at the 
    a(href="https://religiouslife.stanford.edu/memorial-church/stanford-memorial-church-information")
      | Stanford Memorial Church
  p The ceremony begins at 2:45 PM.
  p Our reception will be at 
    a(href="http://www.ritzcarlton.com/en/hotels/california/half-moon-bay") the Ritz-Carlton, Half Moon Bay
    | , by the beautiful Pacific coast.
  p(style="font-size: 8pt") TODO: disclamer

block adventure_header
  h2(class="fancy") Memory