extend index_layout

block title
  | 肖恒和陈行果的婚礼

block intro
  header
    h2 肖恒 陈行果
    h3(class="typewriter") 2018年9月29日
  p 欢迎来访我们的婚礼网站！这个网站还在开发中
  a(href="#ceremony" class="button style2 down") 更多

block ceremony
  header
    h2 婚礼和婚宴
  p 我们的婚礼将于2018年9月29日在
    a(href="https://religiouslife.stanford.edu/memorial-church/stanford-memorial-church-information")
      | 斯坦福纪念教堂
    | 举办。
  p 婚礼将于当日下午二时四十五分开始。
  p 婚宴将于婚礼结束后在座落与美丽的太平洋海岸半月湾的
    a(href="http://www.ritzcarlton.com/en/hotels/california/half-moon-bay") 丽思卡尔顿酒店
    | 举办。
  p(style="font-size: 8pt") TODO: 照片版权