doctype html
html
  head
    title
      block title
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/jquery.poptrox.min.js")
    script(src="javascripts/skel.min.js")
    script(src="javascripts/rsvp.js")
    script(src="javascripts/init.js")
    noscript
      link(rel='stylesheet', href='/stylesheets/skel-noscript.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header#header
      img#logo(src="/images/small/logo.png")
      span#logotext(class="fancy") Heng Xiao & Xingguo Chen
      nav#nav
        block nav
    header#mobile_bar(class="mobile_only")
      div(class="content container small")
        block nav_mobile
    div#content
      block content
    footer#footer
      ul(class="action")
      ul(class="menu")
        li &copy; Heng Xiao & Xingguo Chen 2018
        li Design Reference&nbsp;
          a(href="http://html5up.net/") HTML5 Up
        li Source Code&nbsp;
          a(href="https://github.com/hengxiao/weddingwebsite/")
            img(src="/images/small/gitHub.png" style="-webkit-filter: invert(1);filter: invert(1);")