doctype html
html
  head
    title
      block title
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/jquery.poptrox.min.js")
    script(src="javascripts/skel.min.js")
    script(src="javascripts/init.js")
    noscript
      link(rel='stylesheet', href='/stylesheets/skel-noscript.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header#header
      img#logo(src="images/small/logo.png")
      span#logotext(class="fancy") Heng Xiao & Xingguo Chen
      nav#nav
        ul
          li
            a(href="/index.html") Home
          li
            a(href="/index.html#events") Events
          li
            a(href="/rsvp") RSVP
          li
            a(href="/faq") FAQ
    section#mobile_bar(class="main style1 mobile_only")
      div(class="content container small")
        a(href="/index.html") Home
    div#content
      block content
    footer#footer
      ul(class="action")
      ul(class="menu")
        li &copy; Heng Xiao & Xingguo Chen
        li Design 
          a(href="http://html5up.net/") HTML5 Up
