doctype html
html
  head
    title
      block title
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/jquery.poptrox.min.js")
    script(src="javascripts/skel.min.js")
    script(src="javascripts/rsvp.js")
    script(src="javascripts/init.js")
    noscript
      link(rel='stylesheet', href='/stylesheets/skel-noscript.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header#header
      img#logo(src="images/small/logo.png")
      span#logotext(class="fancy") Heng Xiao & Xingguo Chen
      nav#nav
        ul
          li
            a(href="#intro") Home
          li
            a(href="#events") Events
          li
            a(href="#rsvp") RSVP
          li
            a(href="#faq") FAQ
    header#mobile_bar(class="mobile_only")
      div(class="content container small")
        a(href="/#top") Home
        a(href="/#events") Events
        a(href="/#rsvp") RSVP
        a(href="/#faq") FAQ
    div#content
      block content
    footer#footer
      ul(class="action")
      ul(class="menu")
        li &copy; Heng Xiao & Xingguo Chen
        li Design 
          a(href="http://html5up.net/") HTML5 Up
